@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fluid {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

.section_title {
  @apply text-finesseOrange font-medium
}

.section_header {
  @apply text-finesseBlue text-3xl md:text-5xl font-semibold mt-2
}

.service_title {
  @apply text-finesseBlue text-xl font-semibold mt-2
}

.service_content {
  @apply text-sm text-finesseBlue font-medium
}

.service_button {
  @apply w-fit text-finesseOrange text-sm font-medium
}

.max_section {
  @apply max-w-6xl mx-auto flex lg:flex-row flex-col items-center
}

.footer_max_section {
  @apply max-w-6xl mx-auto flex md:flex-row flex-col items-center
}

.team_max_section {
  @apply max-w-6xl mx-auto flex flex-row flex-wrap items-center
}

.stat_max_section {
  @apply max-w-6xl mx-auto flex md:flex-row flex-col items-center
}

.team_title {
  @apply text-finesseBlue text-xl font-medium text-center mt-2 capitalize
}

.team_content {
  @apply text-center text-sm text-finesseBlue
}